@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans&display=swap');

body, html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('https://cdn.wallpapersafari.com/49/88/UMHdes.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* .App {
    background-image: url('https://cdn.wallpapersafari.com/49/88/UMHdes.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

#brand {
    font-family: 'Michroma', sans-serif;
}

a {
    cursor: pointer;
}

.container {
    min-width: 98%;
}

.py-6 {
    padding-top: 5rem!important;
    padding-bottom: 3rem!important;
}

section {
    height: 100%;
}

#pop {
    text-shadow: 0 0 3px black, 0 0 5px #0000FF;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

svg.recharts-surface {
    background-color: white !important;
    border-radius: 20px;
    width: 100% !important;
}

div.recharts-responsive-container {
    margin: 0 auto;
}

div.recharts-wrapper {
    width: 100% !important;
}

